* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	color: black;
	text-decoration: none;
	text-align: center;
}
.titulo {
	padding: 40px;
}

nav ul {
	width: 100%;
	margin: auto;
	border-radius: 10px;
	list-style-type: none;
	background-color: #527b93;
}
nav li {
	display: inline-flex;
}
nav a {
	padding: 20px;
	width: 100px;
}
nav ul a:hover {
	background-color: rgb(243, 245, 241);
}

.contenido {
	display: flex;
	width: 100%;
	margin: auto;
	margin-top: 50px;
}
.contenido .articulo {
	width: 70%;
	margin: auto;
}
.contenido .articulo div {
	width: 90%;
	padding: 15px;
	background-color: #fafafa;
	border-radius: 15px;
	margin-bottom: 15px;
}
.contenido .articulo img {
	width: 200px;
	border-radius: 15px;
}
.contenido .secundario {
	width: 30%;
}
.contenido .secundario p {
	background-color: #396b0a;
	border-radius: 15px;
	padding: 20px;
	height: 150px;
}

.piedepagina {
	background-color: #0a476b;
	margin-top: 100px;
}
.piedepagina p {
	padding: 100px;
}
.fm-video {
	width: 100%;
	box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 1);
}
