
body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin: 0;
  background-color: white;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}

.navbar {
  background: #0077b6;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: #e6e6e6;
  text-decoration: none;
  font-weight: bold;
}

.section {
  padding: 40px;
  text-align: center;
}
#parrafos {
  background-color: #f4f4f4;  
  padding: 20px;              
  border-radius: 10px;        
  font-family: Arial, sans-serif; 
  color: #333;               
}

#parrafos p {
  text-align: justify; 
  line-height: 1.6;    
  margin-bottom: 15px;
  padding: 20px; 
}
button {
  background: #0077b6;
  font-size: 20px;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0077b6;
}


.dark-mode {
  background-color: #222;
  color: white;
}

.dark-mode .navbar {
  background: hsl(190, 3%, 36%);
}
.layout {
  display: flex;
}
.dark-mode .sidebar{
  background: hsl(190, 3%, 36%);
}
.sidebar {
  width: 25%;             
  background: #0077b6;     
  padding: 20px;
  

  display: flex;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;      
}
.sidebar img {
  width: 300px;
  height: auto;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}


}
.sidebar h3 {
  margin-bottom: 15px;
}
.sidebar p {
  font-size: 20px;          
  line-height: 2;        
  margin-bottom: 45px;
}

.sidebar img {
  width: 80%;               
  margin-bottom: 10px;
  border-radius: 5px;
}

.main-content {
  flex: 1; 
  padding: 20px;
}
footer {
  position: fixed;       
  bottom: 0;             
  left: 0;               
  width: 100%;           
  text-align: center;    
  padding: 5px;
  background: #ffffff;   
  color: rgb(0, 0, 0);          
  z-index: 1000;        
}
.video-btn {
  margin-top: 15px;   
}
.main-content {
  padding-bottom: 60px; 
}
video {
  width: 500%;       
  max-width: 1000px;  
  height: auto;      
}